@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light" style="min-height: inherit !important;">
                <div class="text-center">
                    <h2 class="text-danger">Access Denied</h2>
                    <h4 class="text-danger">You do not have permission</h4>
                </div>
            </div>
        </div>
    </div>
</div>

